<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form
  *ngIf="items.length != 0"
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit()"
>
  <h3>Select Shipping</h3>
  <span *ngFor="let shipping of shippingCosts | async">
    <span
      ><input
        id="shipping"
        value="{{ shipping.type }}"
        type="radio"
        formControlName="shipping"
    /></span>
    <span> {{ shipping.type }} @ {{ shipping.price | currency }} </span>
  </span>

  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form>
