<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<div *ngIf="items.length == 0">Your cart is empty</div>
<form
  *ngIf="items.length != 0"
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit()"
>
  <h5>Select Shipping</h5>
  <span *ngFor="let shippin of shippingCosts | async">
    <span class="cost">
      <input
        name="shipping"
        value="{{ shippin.price }}"
        type="radio"
        formControlName="shipping"
      />
      {{ shippin.type }} @ {{ shippin.price | currency }}
    </span>
  </span>
  <div class="cart-item" *ngIf="!hasShippinCost">
    <span>Select Shipping</span>
  </div>
  <div class="cart-item" *ngIf="hasShippinCost">
    <span>ShippingCost</span>
    <span>{{ shippingCost | currency }}</span>
  </div>
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>
  <div class="total">
    <span>ShippingCost</span>
    <span>{{ totalCost | currency }}</span>
  </div>

  <button class="button" type="submit" [disabled]="!checkoutForm.valid">
    Purchase
  </button>
</form>
